.recentUpdateTitle {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 24px;
}

.dashboardTitle {
    color: #ff9800;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 24px;
}

.updatesImageContainer {
    display: flex;
    justify-content: space-evenly;
}

.styled-list-container {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    max-width: 800px;
    margin: 20px auto;
}

.styled-list-container ul {
    list-style-type: none;
    padding: 0;
}

.styled-list-container li {
    background-color: #444;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 30px;
    color: #ff9800;
    font-size: 1.1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.styled-list-container li:hover {
    transform: translateY(-2px);
}

.aboutApp {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 24px;
    margin-top: 250px;
}

.aboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    margin-left: 80px;
}

.aboutImgContainer {
    margin-left: 80px;
}

.aboutImgContainer img {
    width: 100%;
    height: auto;
    -webkit-mask-image:
        linear-gradient(to right, transparent, black 20%, black 80%, transparent),
        linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
    mask-image:
        linear-gradient(to right, transparent, black 20%, black 80%, transparent),
        linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
}

.diffColor {
    color: #ff9800;
}
