.hidden {
    display: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    /* align-content: space-evenly; */
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    border-bottom: solid rgb(173, 164, 164) 2px;
    margin-top: 0px;
    margin-bottom: 10px;
    height: 80px;
}

.createSpotLink {
    text-decoration: none;
    color: rgb(24, 131, 167)
}

.profileButtonContainer {
    width: 110px;
    height: 50px;
    display: grid;
    align-items: center;
    justify-items: center;
    /* flex-direction: row; */
    /* justify-content: space-evenly; */
    /* grid-template-columns: 1fr 1fr; */
    /* align-items: center;
    align-content: center; */
    border-radius: 25px;
    border: 2px black solid;
    opacity: 0.87
}
.profileButtonContainer:hover {
    cursor: pointer;
}

.profileButton {
    width: 40px;
    height: 40px;
    /* opacity: 1; */
}
.profileButton:hover {
    cursor: pointer;
}

.profileButtonBox {
    margin-right: 30px;
    justify-self: flex-end;
    /* border: 1px red solid; */
    position: relative;
}


.profileButtonList {
    list-style-type: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    right: -59%;
    z-index: 1;
    border: 2px black solid;
    top: calc(100% + 5px);
    text-align: center;
}

.ManageSpotsLink {
    text-decoration: none
}

.homeLink {
    justify-self: flex-start;
    text-decoration: none;
    color: rgb(185, 137, 48);
    display: flex;
    align-items: center;
}

.homeLink:visited {
    text-decoration: none;
}

.createLinkAndProfileButton {
    justify-self: flex-end;
    /* border: 1px red solid; */
    align-items: center;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}

.profileButtonListItem {
    padding: 3px;
    margin-left: auto;
    margin-right: 30px;
}

.LoginSignupText {
    cursor: pointer;
}

.LoginSignupText:hover {
    font-weight: bold;
}

.logoutButton:hover {
    cursor: pointer;
}

.logoutButton {
    color: white;
    background-color: gray;
    width: 100px;
}

.LogoDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: none;
    max-width: 200px;
    /* border: 1px solid green */
}

.Logo {
    height: 40px;
    margin-right: 10px;
}
